# Ignore vim temporary files
*.swp

# Ignore pre-compiled files
*.o
*.bin
*.iso
# And libraries
*.a

# Keep only CMakeLists files and do not take Makefiles
Makefile
**/Makefile

# Do not track CMake tmp directories
CMakeFiles/
**/CMakeFiles/
# Or files
*.cmake
**/*.cmake
CMakeCache.txt
